<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>TodoList-Login</title>
</head>

<body>

    <div class="container py-5">

        <div class="credential-box my-5 m-auto">
            <h2 class="credential-title">Todo List - Login</h2>
            <form action="/login" method="post">

                <div class="mb-2">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" name="username" required>
                </div>

                <div>
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" required>
                </div>

                <button type="submit" class="btn mt-5 credential-button">Login</button>

            </form>
        </div>


    </div>

    <footer class="mt-5 text-center">
        copyright &#169; Faraz
    </footer>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>